{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="editPage">
        <form method="post" >
          <fieldset>
            <legend>Delete Album</legend>

            <div class="container">
              <!-- Form for Deleting an Album -->
              <label for="name">Album Name:</label>
                {{ form.album_name }}


              <label for="artist">Artist:</label>
                {{ form.artist }}


              <label for="genre">Genre:</label>
                       {{ form.genre }}


              <label for="description">Description:</label>
                  {{ form.description }}


              <label for="imgUrl">Image URL:</label>
                  {{ form.album_picture_url }}


              <label for="price">Price:</label>
                {{ album.price }}
                <br>

            {% csrf_token %}
              <!-- Button for Deleting an Album -->
              <button class="delete-album" type="submit">Delete Album</button>
            </div>
          </fieldset>
        </form>
      </section>

{%  endblock %}